[Unit]
Description=aigents pod (Phi-4 + PostgreSQL/pgvector + Qdrant)

[Pod]
PodName=${pod_name}
PublishPort=${bind_address}:${model_port}:8080
PublishPort=${bind_address}:${postgres_port}:5432
PublishPort=${bind_address}:${qdrant_http_port}:6333
PublishPort=${bind_address}:${qdrant_grpc_port}:6334

[Install]
WantedBy=default.target