[Unit]
Description=Security SUT pod (nginx + Juice Shop + Grafana)

[Pod]
PublishPort=${bind_address}:${nginx_http_port}:80
PublishPort=${bind_address}:${juice_shop_port}:3000
PublishPort=${bind_address}:${grafana_port}:3000

[Install]
WantedBy=default.target